<section id="nav-bar">
    <div class="header">
        <img src="assets/image/home1.jpg" class="logo-image">
      <nav class="navbar navbar-expand-sm  fixed-top" id="navbar">
        
        <h5 class="head-nav">
            <img src="assets/image/logo.png">
            Inframart Realtech India Pvt. Ltd.
         </h5>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#a">
       <span class="navbar-toggler-icon"></span>
     </button>
       <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
     <li class="nav-item ">
      <a class="nav-link" href="#"><span style="color: white">Home</span></a>
    </li>
    <li class="nav-item ">
       <a class="nav-link" href="#"><span style="color: white">Service</span></a>
    </li>
   <li class="nav-item ">
      <a class="nav-link" href="#"><span style="color: white">About</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><span style="color: white">Gallery</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><span style="color: white">Product</span></a>
    </li>
   
    <li class="nav-item">
      <a class="nav-link" href="#"><span style="color: white">Contact</span></a>
    </li>
     
           <!-- <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span style="color: black">FAQ</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li> -->
  
  </ul>
  </div>
  </nav>
  </div>
  </section>