<!-- Footer Desktop View -->
<div class="footer">
    <div class="row">
        <div class="column-one">
            <h4 class="column-head">Localization</h4>
            <p class="column-desc-one">No 4, Level -2,<br>Rose Lane,chmond<br> Town,Bengaluru,<br> 560025</p>
        </div>
        <div class="column">
            <h4 class="column-head">Social Media</h4>
            <span class="arrow">→</span><a href="#" class="column-desc"> Facebook</a><br>
            <span class="arrow">→</span><a href="#" class="column-desc"> Twitter</a><br>
            <span class="arrow">→</span><a href="#" class="column-desc"> Instagram</a>
        </div>
        <div class="column">
            <h4 class="column-head">Services</h4>
            <span class="arrow">→</span><a href="#" class="column-desc"> Interior/Architectural</a><br>
            <span class="arrow">→</span><a href="#" class="column-desc"> Project/Space Management</a><br>
            <span class="arrow">→</span><a href="#" class="column-desc"> Civil Engineering</a>
        </div>
        <div class="column-four">
            <h4 class="column-head">Inframart</h4>
            <p class="column-head">+91 080 4095 3355,<br>080 – 40953355</p>
            <a href="#" class="column-desc">info@inframart.com</a>
        </div>
    </div>
    <hr class="line">
    <div class="row footer-second">
        <div class="footer-two">Inframart © 2020</div>
        <div class="bottom-to-top-main">
            <a href="#"><i class="fa fa-angle-up bottom-to-top"></i></a>
        </div>
    </div>
</div>